body{
    font-family: 'Inter', sans-serif;
}
#bg-img{
    background-image: url(images/donation1.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
}
.section-gap{
    margin: 150px;
}
h1{
    font-size: 65px;
    line-height: 40%;
}
.banner-text{
    text-align: center;
    color: white;
    margin: 150px;
}
.banner-description{
    margin-left: 200px;
    margin-right: 200px;
    margin-bottom: 50px;
}
.button{
    padding: 10px 15px;
    border-radius: 5px;
    text-decoration: none;
    background-color: #ff5959;
    color: white;
    border: none;
}
h2{
    font-size: 35px;
    font-weight: 700;
    margin-top: 100px;
}
.donation-txt{
    text-align: center;
    margin-left: 350px;
    margin-right: 350px;
}
.paragraph-text{
    color: #707070;
}
.donations{
    display: flex;
    justify-content: center;
}
.donation-amount{
    margin-top: 50px;
    margin: 10px;
    padding: 30px;
    background-color: #ffe9e9;
    border-radius: 5px;
    text-align: center;
    font-weight: 700;
}
.input-amount{
    border: none;
    margin-top: 50px;
    text-align: center;
    width: 100%;
}
.donation-plans{
    margin: 40px 100px;
    padding: 5px 20px;
}
.plans{
    margin: 15px;
    box-shadow: 0px 2px 8px 0px #63636333;
    padding: 50px 20px;    
}
#plan-1{
    background-color: #fdfdd3;
}
#plan-2{
    background-color: #fce0e3;
}
#plan-3{
    background-color: rgb(228, 249, 255);
}
.blog-posts{
    margin: 50px 150px;
    padding: 10px;
}
.blog-width{
    width: 50%;
    padding: 10px;
}
.blog-width img{
    width: 100%;
    margin-top: 90px;
}
.subscribe{
    padding: 50px 80px;
    margin: 20px 300px;
    background-color: #fff9ac;
    text-align: center;
}
.email-input-box{
    border: none;
    padding: 10px;
    width: 300px;
}
footer{
    background-color: black;
    margin-top: 100px;
    height: 100px;
    padding: 30px;
    text-align: center;
    color: #ff5959;
}
h4{
    font-family: 'Inter', sans-serif;
    font-family: 'Lobster', cursive;
    font-size: 20px;
}